<div style="display: flex; justify-content: flex-start;">
  <NgxDurationPicker [(ngModel)]="model">
  </NgxDurationPicker>
</div>
@if(model) {
<p>
  Hours: {{ model.hours }}, Minutes: {{ model.minutes }}, Seconds: {{ model.seconds }}
</p>
<p>
  Total Seconds: {{ model.toSeconds() }}
</p>
}


<div style="display: flex; justify-content: flex-start;">
  <NgxDurationPicker [(ngModel)]="totalSeconds"
                     [outputValueAsTotalSeconds]="true">
  </NgxDurationPicker>
</div>
@if(totalSeconds >= 0) {
<p>
  Total Seconds: {{ totalSeconds }}
</p>
}
<router-outlet />