<div style="display: flex; justify-content: flex-start;">
  <NgxSimpleDurationPicker [(ngModel)]="model">
  </NgxSimpleDurationPicker>
</div>
@if(model) {
<p>
  Hours: {{ model.hours }}, Minutes: {{ model.minutes }}, Seconds: {{ model.seconds }}
</p>
<p>
  Total Seconds: {{ model.toSeconds() }}
</p>
}


<form [formGroup]="form"
      style="display: flex; justify-content: flex-start;">
  <NgxSimpleDurationPicker formControlName="totalSeconds"
                           [considerValueAsTotalSeconds]="true"
                           (valueChagned)="valueChanged($event)">
  </NgxSimpleDurationPicker>
</form>
<p>
  Total Seconds: {{ form.value.totalSeconds }}
</p>
<router-outlet />