<div style="display: flex; justify-content: flex-start;">
  <NgxDurationPicker [(ngModel)]="model">
  </NgxDurationPicker>
</div>
@if(model) {
<p>
  Hours: {{ model.hours }}, Minutes: {{ model.minutes }}, Seconds: {{ model.seconds }}
</p>
<p>
  Total Seconds: {{ model.toSeconds() }}
</p>
}


<form [formGroup]="form"
      style="display: flex; justify-content: flex-start;">
  <NgxDurationPicker formControlName="totalSeconds"
                     [outputValueAsTotalSeconds]="true"
                     (valueChagned)="valueChanged($event)">
  </NgxDurationPicker>
</form>
<p>
  Total Seconds: {{ form.value.totalSeconds }}
</p>
<router-outlet />